{% extends 'base.html' %}
 
{% block main %}
 
<div class="content">
  <div class="container">
    <h1>通知</h1>
    {% for room, guests in accept_room_guests.items %}
      {% for guest in guests %}
        <div class="row" id="{{room}}-{{guest.guest}}">
          {{room}}-{{guest.guest}}
          <button type="button" data-catid="{{room}}/{{guest.guest}}" class="accept-button btn btn-outline-success" is-deleted="False">承認</button>
          <button type="button" data-catid="{{room}}/{{guest.guest}}" class="accept-button btn btn-outline-danger" is-deleted="True">拒否</button>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
</div>
 
{% endblock %}