{% extends 'base.html' %}
 
{% block main %}
{% include "../snippets/sidebar.html" with pagename="room" %}

<div class="content">
    <div class="container">
         <h1>{{title}}</h1>
         <h3>{{subtitle}}</h3>
         {% for object in object_list %}
            <div class="row">
            <div class="col-8 border my-1">
                {% include "../snippets/post.html" with object=object link=True%}
            </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}