<div id="modal-post" class="modal-container">
    <div class="modal-body">
      <!-- 閉じるボタン -->
      <div class="modal-close">×</div>
      <!-- モーダル内のコンテンツ -->
      <div class="modal-content">
        <h3>
          投稿
        </h3>
        <form name="post-form" method="POST" action="/post/" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="title">タイトル*</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Title">
          </div>
          <div class="form-group">
            <label for="text">本文*</label>
            <textarea class="form-control" rows="3" id="text" name="text" placeholder="Text"></textarea>
          </div>
          {% comment %} <div class="form-group">
            <label for="url">URL</label>
            input[type=""]
          </div> {% endcomment %}
          <div class="form-group">
            <label for="img">画像</label>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="img" name="img" id="inputFile">
              <label for="inputFile" class="custom-file-label" data-browse="参照">選択</label>
            </div>
          </div>
          <input type="hidden" name="room" value="{{room_id}}">
          <button class="btn btn-secondary btm-sm" type="submit">
            投稿
          </button>
        </form>
      </div>
    </div>
  </div>