{% if reply.position == "Agree" %}
    <div class="reply col-4 border my-1 bg-success text-white position-{{reply.position}} type-{{reply.type_id}}" reply-like-count="{{reply.like_count}}">
{% elif reply.position == "Disagree" %}
    <div class="reply col-4 border my-1 bg-danger text-white position-{{reply.position}} type-{{reply.type_id}}" reply-like-count="{{reply.like_count}}">
{% elif reply.position == "Neutral" %}
    <div class="reply col-4 border my-1 position-{{replyjquey.position}} type-{{reply.type_id}}" reply-like-count="{{reply.like_count}}">
{% else %}
    <div class="reply col-4 border my-1 empty-reply" reply-like-count="0">
{% endif %}

{% if reply %}
    {% if link %}
        <div class="DivLink" onclick="location.href='/reply/{{reply.reply_id}}'">
    {% else %}
        <div>
    {% endif %}
            <a href="/user/{{reply.username}}/">{{reply.username}}</a> 
            {{reply.created_at}}<br>
            {{reply.text | linebreaks}}
        </div>
    {% if not reply.status %}
        <a data-catid="{{reply.reply_id}}" class="likebutton" value="{{reply.status}}">
            {% if reply.user_like %}
                <i class="like-reply fa-solid fa-thumbs-up" id="like{{reply.reply_id}}"></i>
            {% else %}
                <i class="fa-solid fa-thumbs-up" id="like{{reply.reply_id}}"></i>
            {% endif %}
        </a>
        <span class="reply-like-count" id="like_count{{reply.reply_id}}">{{reply.like_count}}</span>

        <a href="#" role="button" data-target="modal-reply-{{reply.reply_id}}" class="modal-open btn btn-secondary btn-sm">返信</a>
        {% include "snippets/modal_reply.html" with id=reply.reply_id base_action="/reply/" %}
    {% endif %}
{% endif %}
</div>